<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>my-demo</display-name>
    <description>my-demo</description>

    <!-- 静态资源 -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
        <url-pattern>*.js</url-pattern>
        <url-pattern>*.json</url-pattern>
        <url-pattern>*.map</url-pattern>
        <url-pattern>*.html</url-pattern>
        <url-pattern>*.htm</url-pattern>
        <url-pattern>*.gif</url-pattern>
        <url-pattern>*.jpg</url-pattern>
        <url-pattern>*.svg</url-pattern>
        <url-pattern>*.jpeg</url-pattern>
        <url-pattern>*.xlsx</url-pattern>
        <url-pattern>*.xls</url-pattern>
        <url-pattern>*.png</url-pattern>
        <url-pattern>*.bmp</url-pattern>
        <url-pattern>*.ico</url-pattern>
        <url-pattern>*.mp3</url-pattern>
        <url-pattern>*.mp4</url-pattern>
        <url-pattern>*.flv</url-pattern>
        <url-pattern>*.fla</url-pattern>
        <url-pattern>*.avi</url-pattern>
        <url-pattern>*.swf</url-pattern>
        <url-pattern>*.woff2</url-pattern>
        <url-pattern>*.woff</url-pattern>
        <url-pattern>*.ttf</url-pattern>
        <url-pattern>*.cur</url-pattern>
        <url-pattern>*.xml</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>/index.html</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>

</web-app>